! fonts
!URxvt.font:	-misc-fixed-medium-r-semicondensed-*-14-90-100-*-c-60-iso10646-1
!URxvt.font:	xft:Dejavu Sans Mono:size=9
URxvt.font: xft:IBM Plex Mono:size=10
Urxvt.letterSpace: -6

! scrollstyle 
!URxvt.scrollstyle: plain
URxvt.scrollBar: false

! colors
URxvt*background: #282828
URxvt*foreground: #ebdbb2

! black 
URxvt*color0: #282828
URxvt*color8: #928374

! red
URxvt*color1: #cc241d
URxvt*color9: #fb4934

! green
URxvt*color2:  #98971a
URxvt*color10: #b8bb26

! yellow
URxvt*color3:  #d79921
URxvt*color11: #fabd2f

! blue
URxvt*color4:  #458588
URxvt*color12: #83a598

! purple
URxvt*color5:  #b16286
URxvt*color13: #d3869b

! cyan
URxvt*color6:  #689d6a
URxvt*color14: #8ec07c

! white
URxvt*color7:  #a89984
URxvt*color15: #ebdbb2


!
! setting for copy/paste
!
URxvt.iso14755:	    false
URxvt.iso14755_52:  false

!disable ctrl-alt-c/v
URxvt.keysym.C-M-c: builtin-string:
URxvt.keysym.C-M-v: builtin-string:

!turn on ctrl-shift-c/v
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

!polybar fonts
polybar.font: DejaVu Sans; pixelsize=8;0
polybar.glyphfont: FontAwesme: pixelsize=13;3
